.username
	height 44px
	width 300px
	border-radius 50px
	margin-bottom 15px
	position absolute
	left 27.5px
	top 175px
	padding-left 20px
	border 1px solid rgba(107, 135, 240, 1)
.password
	height 44px
	width 300px
	border-radius 50px
	margin-bottom 15px
	position absolute
	left 27.5px
	top 234px
	padding-left 20px
	border 1px solid rgba(107, 135, 240, 1)
::-webkit-input-placeholder 
	color rgba(107, 135, 240, 1)
button
	height 44px
	width 320px
	border-radius 50px
	margin-bottom 15px
	position absolute
	left 27.5px
	top 345px
	color #fff
	text-align center 
	line-height 44px
	background rgba(107, 135, 240, 1)
	border none